[Unit]
Description=JukeBox in Django and Pygame for audio

[Service]
Type=simple
ExecStartPre=make -C "${PARADOXIBOX_FOLDER}" install
ExecStart=make -C "${PARADOXIBOX_FOLDER}" runserver-prod ALLOWED_HOST="${ALLOWED_HOST}" LANGUAGE_CODE="${LANGUAGE_CODE}" TIME_ZONE="${TIME_ZONE}" SECRET_KEY="${SECRET_KEY}" HOST="${HOST}" PORT="${PORT}"

[Install]
WantedBy=default.target
