<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <title>ParadoxiBox - {% block title %}{% endblock %}</title>
    <style>
    {% block style %}{% endblock %}
    </style>
</head>

<body>
    <script>
        {% block script_start %}{% endblock %}
    </script>
    <div id="sidebar">
        <h1>ParadoxiBox - {% block headerTitle %}{% endblock %}</h1>
        {% block sidebar %}
        <ul>
            <li><a href="{% url 'songs:index' %}">Main Page</a></li>
            <li><a href="{% url 'songs:library_used' %}">Library Used for this Project</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <script>
        {% block script_end %}{% endblock %}
    </script>
</body>
</html>
