{% extends "songs/base.html" %}

{% block script %}
window.setTimeout(function() {
    if (!document.hidden && document.hasFocus()) {
        window.location.reload();
    } else {
        window.addEventListener("focus", function() {
            window.location.reload();
        });
    }
}, 5000);
{% endblock %}

{% block title %}Queue{% endblock %}
{% block headerTitle %}Queue{% endblock %}

{% block content %}

<p>Paused: {{ paused }}</p>

<p>Auto Related Next: {{ improvised }}</p>

<a href="{% url 'songs:pause_api' %}">⏸️ </a>
<a href="{% url 'songs:resume_api' %}">▶️ </a>
<a href="{% url 'songs:skip_api' %}">⏭️ </a>
<a href="{% url 'songs:improvise_api' %}">🎲</a>

<p>Curently Playing: <a href="{% url 'songs:song' song_curr_id %}">{{ song_curr.artist }} - {{ song_curr.title }}</p>

{% for song in playlists %}
    <li><a href="{% url 'songs:song' song.id %}">{{ song.artist }} - {{ song.title }} ({{ song.duration }})</a></li>
{% endfor %}
{% endblock %}
